<main role="main" id="blog-banner" class="main-banner">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Latest Blog Posts</h1>
          <p>Stay up to date with the latest property news at BDS-Online .</p>
        </div>
      </div>
</main>

<div class="container">
    <% if @posts.empty? %>
        <p>No posts to display.</p>
    <% else %>
        <% @posts.each do |post| %>
            <div class="row">
                <div class="col">
                    <h2><%= post.title %></h2>
                    <p><%= post.summary %></p>
                    <%= link_to "Read more >", post_path(post), class: "btn btn-success"%>
                    <hr/>
                </div>
            </div>
        <% end %>
    <% end %>
</div>