// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img.prop-thumb {
    width: 250px;
    height: auto;
}

img.prop-photo {
    width: 500px;
    height: auto;
}

.property-main-photo {
    height: 450px;
    background-size: cover;
    margin-bottom: 30px;
}