// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img.prop-thumb {
    width: auto;
    height: 180px;
}

img.prop-photo {
    width: 500px;
    height: auto;
}

.property-main-photo {
    height: 450px;
    background-size: cover;
    margin-bottom: 30px;
    background-position-y: center;
}

#prop-details {
    height: 120px;
    overflow: hidden;
    &.open {
        height: auto;
    }
}

.property-thumb {
    height: 170px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}