<main role="main" id="home-banner" class="main-banner">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Search your sweet home now</h1>
          <p>Choose from hundreds of beautiful bungalows, apartments and condominiums.</p>
        </div>
      </div>

      <section id="lastest-properties" class="mb-5">
        <div class="container">
          <div class="row">
            <div class="col mb-4">
              <h3>Latest Properties</h3>
            </div>
          </div>
          <div class="row">
              <%= render "properties/list", properties: @properties %>
          </div>
        </div>
      </section>

      <section id="lastest-posts" class="mb-5">
        <div class="container">
          <div class="row">
            <div class="col mb-4">
              <h3>Latest News</h3>
            </div>
          </div>
          <div class="row">
              <%= render "posts/list", posts: @posts %>
          </div>
        </div>
      </section>
</main>